html{
    width:100vw;
    overflow: hidden;
}

header{
    min-height: 14vh;
    width: 99.25vw;
    font-size: 7vh;
    text-align: center;
    line-height: 12vh;
    border-bottom: 2px solid #000;
}

content{
    width: 100vw;
    height: 87vh;
    display: block;
    position: absolute;
}

body{
    direction: rtl;
}


