<div ng-controller="submitController">
    <h2> סיימנו {{booksCounter}} ספרים </h2>
    <form>

        <label class="user-prop">
            שם פרטי:
            <input type="text" ng-model="user.name" name="name"/>
        </label>
        
        <label class="user-prop">
            שם הורה:
            <input type="text" ng-model="user.parent" name="parent" />
          </label>

          
          <label class="user-prop">
              סוג תפילה
              <select ng-model="user.type">
                <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
              </select>
            </label>
        
          <label class="user-prop">
            מין:
            <select ng-model="user.gender">
                <option ng-repeat="gender in genders" value="{{gender}}">{{gender}}</option>
            </select>
          </label>
        
          <label class="user-prop">
            פרק (לא חובה)
            <select ng-model="user.chapter">
                <option ng-repeat="chapter in chapters track by $index" value="{{chapter}}" >{{chapter}}</option>
            </select>
          </label>

          <label class="user-prop" >
            <textarea id="story" maxlength="200" ng-model="user.story" placeholder="ספר על עצמך (לא חובה. מקסימום 200 תווים)"></textarea>
          </label>

        <button ng-click="submit()">שלח</button>
    </form>

    <div ng-show="showResult">
        נא לקרוא פרק {{userRes.chapter}}
        ל{{userRes.type}}
        עבורך ועבור {{userRes.friend.name}} {{userRes.friend.gender == "f"?"בת":"בן"}} {{userRes.friend.parent}}
    {{userRes.gender == "f" ? "תזכי" : "תזכה"}} למצוות!
    </div>
</div>